*{
    margin:0;
    font-family:arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
}
/* Amazon logo */
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image:url("amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100%;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/* box 2 */
.first{
    color:#cccccc;
    font-size:.90rem;
    margin-left:13px;
}
.second{
font-size:1rem;
margin-left:3px;
}
.add-icon{
    display:flex;
    align-items: center;
}
/* box 3 */
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color:pink;
    width:620px;
    height:40px;
    border-radius: 4px;
    border:2px solid transparent ;
}
.nav-search:hover{
    border:2px solid orange ;
}
.search-select{
    background-color:#f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width:100%;
    font-size:1rem;
    border:none;
}
.search-icon{
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
}
/* box 4 */
.region{
    display: flex;
    
}
.usa{
    width:21px;
    height:16px;
    background-image:url("usa.webp");
    background-size:cover;
    padding-right: 2px;
    border:none;
}
.region{
    background-color: transparent;
    display:flex;
    align-items:center;
}
.para{
   font-size:0.8rem;
}
.accounts{
    font-size:1.3rem;
    font-weight:600;
}
.s{
    font-size:.7rem;
}
.o{
    font-size:1rem;
    font-weight:600;
}
.select{
    background-color: transparent;
    color:white;
    border:none;
}
.cart i{
   font-size:30px;
}
.cart{
    font-size:0.85rem;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:600;
}
/* panel styling */
.panel{
    height:40px;
    background-color: #222f3d;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}
.option{
    width:90%;
    font-size:0.85rem;
}
.option p{
    display:inline;
    margin:5px;
}

/* styling hero-section */

.hero-section{
    height:320px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.hero-msg{
    height:40px;
    width:90%;
    font-size:0.85rem;
    display:flex;
    background-color: white;
    color:#0f1111;
    align-items: center;
    justify-content:center;
    margin-bottom: 25px;
    
}
.hero-msg a{
    text-decoration: none;
    color:#007185;
}

/* shop-section */
.shop-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    background-color:#e2e7e6;
}
.box{
    height:400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;
}
.box-img{
    height:300px;
    background-size:cover;
    margin-bottom: 30px;
    margin-top:20px;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.anchor1{
    text-decoration: none;
    color:#007185;
}
 /* footer styling */
 footer{
    margin-top:15px;
 }
 .foot-panel1{
    height:50px;
    background-color: #37475a;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
 }
 .foot-panel2{
    height:500px;
    background-color:#222f3d;
    display:flex;
    justify-content:space-evenly;
 }
.foot-panel2 a{
    color:white;
}
ul a{
    display:block;
    font-size:14px;
    margin-top:10px;
    color:#dddddd;
}
ul p{
    color:white;
    font-weight:600;
    font-size:16px;
    margin-top:40px;
}
.foot-panel3{
    height:70px;
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.foot-logo{
    background-image:url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.pages{
    display:flex;
    justify-content:center;
    padding-top:30px;
}
.foot-panel4{
    height:100px;
    background-color: #0f1111;
    color:white;
    
}
.copyrights{
    color:white;
    display:flex;
    justify-content: center;
    font-size:0.7rem;
    padding-top:10px;
}
.pages a{
    padding-left:12px;
    font-size:0.7rem;
}
/* screen size toggle */
.show-options {
    display: block !important;
}

@media(max-width: 768px) {
    .option {
        display: none;
        background-color: #222f3d;
        padding: 10px;
        width: 100%;
    }

    .option p {
        display: block;
        padding: 8px 0;
    }
}
